/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */


@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
  background-image: url('/src/assets/remote-office-3d-rendering-concept-illustration.jpg');
  background-size: cover;
  background-position: 30% 60%; /* Default position */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixes the background so it doesn't scroll */
  height: 100vh; /* Ensures full viewport height */
}

/* Adjust background for smaller screens */
@media (max-width: 1024px) {
  body {
    background-position: center center; /* Shift view to center */
  }
}

@media (max-width: 768px) {
  body {
    background-size: cover; /* Keep full coverage */
    background-position: center center; /* Keep focus in center */
    /* background-attachment: fixed; is already inherited from the main body rule */
  }
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes slideInLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}
.animate-slideInLeft {
  animation: slideInLeft 0.5s ease-in-out;
}

@keyframes pulse-slow {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 1; }
}
.animate-pulse-slow {
  animation: pulse-slow 6s infinite ease-in-out;
}